@mixin alert_theme($background, $color, $border) {
  color: $color !important;
  background-color: $background;
  border-color: $border;

  .alert-link {
    font-weight: $font_weight_bold;
    color: shade($color, 20%);
  }
}
