@each $key, $color in $colors {
  .bg-#{$key} {
    background: $color;
  }

  .color-#{$key} {
    color: $color;
  }
}

.bg-white {
  background: $white;
}
.bg-white-dark {
  background: $whiteDark;
}
.color-white {
  color: $white;
}
.color-white-dark {
  color: $whiteDark;
}

