address,
article,
aside,
blockquote,
canvas,
main,
nav,
section,
div,
figure {
  display: block;
  width: 100%;
}

canvas {
  height: 10 * $rem;
  width: 20 * $rem;
  max-width: 100%;
}

section,
main,
article {
  margin: 0 auto;
  max-width: 60 * $rem;
}

nav {
  text-align: center;
  
  ul {
    margin: 0;
    text-align: center;

    li {
      display: inline-block;
      
      & + li {
        margin-left: 0.7 * $rem;
      }
    }
  }
}
