*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  border: none;
}

html,
body {
  @extend %font;
  width: 100vw;
  height: 100vh;
}
section {
  padding: 4 * $rem 0;
}

img {
  display: block;
  height: auto;
  margin: 0 auto;
}

p,
ul,
ol,
dl,
blockquote,
hr,
pre,
table,
form,
fieldset,
figure,
address {
  margin-bottom: 1.5 * $rem;
}
