dl,
ol,
ul {
  margin-top: 0.9 * $rem;
  margin-bottom: 0.9 * $rem;
}

ol,
ul {
  margin-left: 2 * $rem;
  padding-left: 2.6 * $rem;
}

li {
  dl,
  ol,
  ul {
    margin-bottom: 0;
  }
}

dl {
  display: inline-block;
}

dt {
  padding: 0 $rem;
}

dd {
  padding: 0 $rem (.25 * $rem);

  &:last-of-type {
    border-bottom: (.06 * $rem) solid $gray;
  }

  + dt {
    border-top: (.06 * $rem) solid $gray;
    padding-top: .5 * $rem;
  }
}
