pre,
code,
kbd,
samp,
var,
output {
  font-family: $monospace;
  font-size: 0.9 * $rem;
}

code,
kbd {
  padding: 0.5 * $rem;
  border-radius: 0.3 * $rem;
  background: $whiteDark;
  color: $green;
  display: inline-block;
}

kbd {
  background: $green;
  color: $white;
  border: 1px solid $green; 
}

pre {
  border-left: .1 * $rem solid lighten($dark, 25);
  line-height: 0.8 * $rem;
  overflow: auto;
  padding-left: 0;

  code {
    background: none;
    border: 0;
    line-height: 1.65 * $rem;
    padding: 0;
  }
}
