table,
th,
td,
tr {
  border: 1px solid $dark;
  border-collapse: collapse;
}

table {
  display: table;
  width: 100%;
}

th {
  font-weight: 600;
}

td,
th {
  text-align: left;
  padding: 0.8 * $rem;
}

caption {
  font-weight: 600;
  font-size: $rem;
  margin-bottom: 0.8 * $rem;
}
