.btn {
  padding: $btn-padding;
  border: $btn-border-width solid transparent;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;

}

@each $key, $color in $colors {
  .btn-#{$key} {
    background: $color;
    color: $white;
    
    &:hover {
      background: $blue-600;
    }
  }
}


