// definition of color variables
$rem: 1rem;
$body_font_size: 100%;

$blue: #1a82e5 !default;
$green: #24be6d !default;
$yellow: #d6da4d !default;
$red: #e73b4a !default;
$pink: #d85598 !default;
$violet: #911eC7 !default;
$indigo: #6B11FF !default;
$orange: #EE9238 !default;
$cyan: #24CFF5 !default;
$dark: #313131 !default;
$darkLight: #464646 !default;
$white: #f4f4f4 !default;
$whiteDark: #f1f1f1;
$gray: gray;

$responsive_mobile: 45 * $rem;

// fonts safe
$sans-serif: system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;

// pattern
%font {
  font-size: $body_font_size;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.1 * $rem;
}

%font-form {
  font-size: $body_font_size;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.1 * $rem;
}

// definition of sizes variables

$btn-padding: .80rem .438rem;
$btn-font-size: 1rem;
$btn-font-weight: 600;
$btn-line-height: 1.4;
$btn-border-width: 1px;

