.alert {
  position: relative;
  border-top: $alert_border_width solid transparent;
  border-right: $alert_border_width solid transparent;
  border-bottom: $alert_border_width solid transparent;
  border-left: $alert_border_left solid transparent;
  margin-bottom: $alert_margin_bottom;
  border-radius: $alert_border_radius;
  padding: $alert_padding;
  color: $gray;
}

.btn-close {
  position: absolute;
  top: 0;
  right: calc(-#{$alert_padding} + 1px);
  background-color: transparent;
  padding: $spacer / 2;
  border: none;

  &:hover {
    border-top-left-radius: 0;
    border-left: $alert_border_width solid currentColor;
    border-bottom: $alert_border_width solid currentColor;
    background-color: transparent;
  }
}

$alert_colors: (
  'success': $green-4,
  'danger': $red-4,
  'warning': $yellow-4,
  'info': $cyan-4,
  'dark': $dark,
  'light': $white,
  'orange': $orange-4,
  'violet': $violet-4,
  'indigo': $indigo-4,
  'pink': $pink-4,
);

@each $key, $color in $alert_colors {
  .alert-#{$key} {
    @include alert_theme(tint($color, 45%), shade($color, 25%), shade($color, 25%));
  }
}
