.btn {
  @include button_style;
}

.btn-link {
  @include button_link_style;
}

.btn-radius {
  border-radius: $btn_border_radius;
}

.btn-small {
  padding: $btn_mobile_padding;
  font-size: $btn_mobile_font_size;
}

.btn-medium {
  padding: $btn_medium_padding;
  font-size: $btn_medium_font_size;
}

.btn-large {
  padding: $btn_large_padding;
  font-size: $btn_large_font_size;
} 

.btn-ex-large {
  padding: $btn_ex_large_padding;
  font-size: $btn_ex_font_size;
}

@each $key, $color in $colors {
  .flat-btn-#{$key} {
    background: $color;
    outline: none;
    transition: box-shadow $btn_transition_duration linear;
   
    @if $key == 'white' {
      color: $dark;
    } @else {
      color: $white;
    }

    &:hover {
      background: shade($color, 12%);

      @if $key == 'white' {
        color: $dark;
      } @else {
        color: $white;
      }
    }

    &:focus {
      box-shadow: 0 0 4px 5px tint($color, 10%);
      background: shade($color, 12%);
    }
  }

  .ghost-btn-#{$key} {
    background: $white;
    outline: none;
    transition: background-color $btn_transition_duration linear;
    border: 3px solid #{$color};
    @include validate_background_button($key, $color);

    &:hover {
      background: $color;
      @include validate_background_button($key, $white);
    }

    &:focus {
      background: $color;
      
      @if $key == 'white' {
        color: $dark;
      } @else {
        color: $white;
      }
    }
  }
}

@media (min-width: $media_md) {
  .btn,
  .btn-link {
    padding: $btn_medium_padding;
    font-size: $btn_medium_font_size;
  }
}
