.btn {
  @include button_style;
}

.btn-radius {
  border-radius: $btn_border_radius;
}

@each $key, $color in $colors {
  .flat-btn-#{$key} {
    background: $color;
    outline: none;
    transition: box-shadow $btn_transition_duration linear;
   
    @if $key == 'white' {
      color: $dark;
    } @else {
      color: $white;
    }

    &:hover {
      background: shade($color, 12%);

      @if $key == 'white' {
        color: $dark;
      } @else {
        color: $white;
      }
    }

    &:focus {
      box-shadow: 0 0 4px 5px tint($color, 10%);
      background: shade($color, 12%);
    }
  }

  .ghost-btn-#{$key} {
    background: $white;
    outline: none;
    transition: background-color $btn_transition_duration linear;
    border: 3px solid #{$color};
    @include validate_background_button($key, $color);

    &:hover {
      background: $color;
      @include validate_background_button($key, $white);
    }

    &:focus {
      background: $color;
      
      @if $key == 'white' {
        color: $dark;
      } @else {
        color: $white;
      }
    }
  }
}
