h1,
h2,
h3,
h4,
h5,
h6 {
  @include headings_styles;
}

h1 {
  font-size: 2.5 * $rem;
  font-weight: 700;

  + h1 {
    page-break-before: always;
  }
}

h2 {
  font-size: 2.1875 * $rem;
}

h3 {
  font-size: 1.875 * $rem;
}

h4 {
  font-size: 1.6875 * $rem;
}

h5 {
  font-size: 1.5 * $rem;
}

h6 {
  font-size: 1.25 * $rem;
}

@for $index from 1 through 6 {
  .h#{$index} {
    @extend h#{$index};
  }
}

.expand-1 {
  @include expand_styles;
  font-size: 5 * $rem;
}

.expand-2 {
  @include expand_styles;
  font-size: 4.8 * $rem;
}

.expand-3 {
  @include expand_styles;
  font-size: 4.375 * $rem;
}

.expand-4 {
  @include expand_styles;
  font-size: 4.0625 * $rem;
}

.expand-5 {
  @include expand_styles;
  font-size: 3.75 * $rem;
}
.expand-6 {
  @include expand_styles;
  font-size: 3.4375 * $rem; 
}

@each $key, $color in $colors {
  .color-#{$key} {
    color: $color;
  }
}
