@each $key, $measure in $spacings_measures {
  $tmp: $measure * $rem;
  // margin
  .ml-#{$key} {
    margin-left: $tmp;
  }
  .mr-#{$key} {
    margin-right: $tmp;
  }
  .mt-#{$key} {
    margin-top: $tmp;
  }
  .mb-#{$key} {
    margin-bottom: $tmp;
  }
  .mlr-#{$key} {
    margin: 0 $tmp;
  }
  .mtb-#{$key} {
    margin: $tmp 0;
  }
  .mltb-#{$key} {
    margin: $tmp 0 $tmp $tmp;
  }
  .mltr-#{$key} {
    margin: $tmp $tmp 0 $tmp;
  }
  .mlbr-#{$key} {
    margin: 0 $tmp $tmp $tmp;
  }
  .mrtb-#{$key} {
    margin: $tmp $tmp $tmp 0;
  }
  .m-#{$key} {
    margin: $tmp;
  }

  // padding
  .pl-#{$key} {
    padding-left: $tmp;
  }
  .pr-#{$key} {
    padding-right: $tmp;
  }
  .pt-#{$key} {
    padding-top: $tmp;
  }
  .pb-#{$key} {
    padding-bottom: $tmp;
  }
  .plr-#{$key} {
    padding: 0 $tmp;
  }
  .ptb-#{$key} {
    padding: $tmp 0;
  }
  .pltb-#{$key} {
    padding: $tmp 0 $tmp $tmp;
  }
  .pltr-#{$key} {
    padding: $tmp $tmp 0 $tmp;
  }
  .plbr-#{$key} {
    padding: 0 $tmp $tmp $tmp;
  }
  .prtb-#{$key} {
    padding: $tmp $tmp $tmp 0;
  }
  .p-#{$key} {
    padding: $tmp;
  }
}
