@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner-spaced {
  position: relative;
  color: $gray-2;

  &::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: $spinners_size;
    height: $spinners_size;
    border-radius: 50%;
    border: $spinner_border_width solid transparent;
    border-top-color: currentColor;
    border-bottom-color: currentColor;
    animation: spinner $spinners_transiation_duration ease infinite;
  }   
}
