h1,
h2,
h3,
h4,
h5,
h6 {
  @include headings_styles;
}

h1 {
  font-size: $h1_font_size;
  font-weight: 700;

  + h1 {
    page-break-before: always;
  }
}
h2 {
  font-size: $h2_font_size;
}
h3 {
  font-size: $h3_font_size;
}
h4 {
  font-size: $h4_font_size;
}
h5 {
  font-size: $h5_font_size;
}
h6 {
  font-size: $h6_font_size;
}

.text {
  font-size: $text_font_size;
  font-weight: 300;
  font-family: $sans-serif;
  color: $darkLight;
  line-height: $line_height_base;
  display: block;
  max-width: 100%;
}

@for $index from 1 through 6 {
  .h#{$index} {
    @extend h#{$index};
  }
}

@each $font_size_key, $font_size in $font_sizes {
  .font-size-#{$font_size_key} {
    font-size: $font_size;
    line-height: 1.4;
  }
}
@each $key, $size in $expand_sizes {
  .expand-#{$key} {
    @include expand_styles;
    font-size: $size;
  }
}
