// displays
.d-block {
  display: block; 
}
.d-none {
  display: none;
}
.d-table {
  display: table;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}

@media (max-width: $media_min_sm) {
  .d-m-sm-block {
    display: block !important;
  }
  .d-m-sm-none {
    display: none !important;
  }
  .d-m-sm-table {
    display: table !important;
  }
  .d-m-sm-inline {
    display: inline !important;
  }
  .d-m-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: $media_sm) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-none {
    display: none !important;
  }
  .d-sm-table {
    display: table !important;
  }
  .d-sm-inline {
    display: inline !important;
  }
  .d-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: $media_md) {
  .d-md-block {
    display: block !important;
  }
  .d-md-none {
    display: none !important;
  }
  .d-md-table {
    display: table !important;
  }
  .d-md-inline {
    display: inline !important;
  }
  .d-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: $media_lg) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-none {
    display: none !important;
  }
  .d-lg-table {
    display: table !important;
  }
  .d-lg-inline {
    display: inline !important;
  }
  .d-lg-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: $media_xl) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-none {
    display: none !important;
  }
  .d-xl-table {
    display: table !important;
  }
  .d-xl-inline {
    display: inline !important;
  }
  .d-xl-inline-block {
    display: inline-block !important;
  }
}

// background and colors  

@each $key, $color in $colors {
  .bg-#{$key} {
    background: $color;
  }

  .color-#{$key} {
    color: $color;
  }
}

.bg-white {
  background: $white;
}
.bg-white-dark {
  background: $whiteDark;
}
.color-white {
  color: $white;
}
.color-white-dark {
  color: $whiteDark;
}

// border radius 

@each $key, $radius in $border_radius {
  .radius-#{$key} {
    @if ($key == '50' or $key == '100') {
      border-radius: $radius !important;
    } @else {
      border-radius: $radius * $rem !important;
    }
  }
}

// borders 

@mixin border_type_style($size, $color) {
  border-width: $size * $rem !important;
  border-color: $color;
}

@each $key, $size in $border_sizes {
  .br-solid-#{$key} {
    border-style: solid !important;
    @include border_type_style($size, $gray);
  }
  .br-dotted-#{$key} {
    border-style: dotted !important;
    @include border_type_style($size, $gray);
  }
  .br-dashed-#{$key} {
    border-style: dashed !important;
    @include border_type_style($size, $gray);
  }
  .br-double-#{$key} {
    border-style: double !important;
    @include border_type_style($size, $gray);
  }
  .br-groove-#{$key} {
    border-style: groove !important;
    @include border_type_style($size, $gray);
  }
  .br-ridge-#{$key} {
    border-style: ridge !important;
    @include border_type_style($size, $gray);
  }
  .br-inset-#{$key} {
    border-style: inset !important;
    @include border_type_style($size, $gray);
  }
  .br-outset-#{$key} {
    border-style: outset !important;
    @include border_type_style($size, $gray);
  }
}

@each $key, $color in $colors {
  .br-color-#{$key} {
    border-color: $color !important;
  }
}
