option, html,
body {
  font-size: 100%;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.1rem;
}

button,
input,
select,
textarea {
  font-size: 100%;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.1rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  border: none;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: #f4f4f4;
}

section {
  padding: 4rem 0;
}

img {
  display: block;
  height: auto;
  margin: 0 auto;
}

p,
ul,
ol,
dl,
blockquote,
hr,
pre,
table,
form,
fieldset,
figure,
address {
  margin-bottom: 1.5rem;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

p,
span {
  width: 100%;
  max-width: 70ch;
  font-size: 1.1rem;
  line-height: 1.7rem;
  text-align: left;
  color: #464646;
  margin: 1.2rem 0;
}

strong {
  font-size: 1.1rem;
  font-weight: 800;
}

a {
  color: #1a82e5;
  text-decoration: none;
}
a:hover {
  text-decoration: underline #1a82e5;
}

hr {
  margin: 0.6rem 0;
  border-bottom: 1px solid gray;
}

em,
i {
  font-size: 1.1rem;
  font-style: italic;
}

small,
figcaption {
  font-size: 0.9rem;
}

del {
  color: gray;
}

sup,
sub {
  font-size: 78%;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.4rem;
}

sub {
  bottom: -0.4rem;
}

button,
input,
select,
textarea {
  border-radius: 0.3125rem;
  border: none;
  border: 1px solid gray;
}
button + label,
button + input[type=checkbox],
button + input[type=radio],
input + label,
input + input[type=checkbox],
input + input[type=radio],
select + label,
select + input[type=checkbox],
select + input[type=radio],
textarea + label,
textarea + input[type=checkbox],
textarea + input[type=radio] {
  page-break-before: always;
}

fieldset {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
fieldset legend {
  margin: 1.2rem 0;
}

textarea {
  min-height: 6rem;
  min-width: 20rem;
  max-width: 38rem;
}

label {
  display: inline-block;
  margin-bottom: 0.7rem;
  font-weight: 600;
  font-size: 1.1rem;
  color: #313131;
}
label + * {
  page-break-before: always;
}
label > input {
  margin-bottom: 0;
}

input[type=submit],
input[type=reset],
button {
  background: #aaa;
  color: #464646;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  display: inline;
  margin-bottom: 1rem;
  margin-right: 0.7rem;
  padding: 0.6rem;
}
input[type=submit]:hover,
input[type=reset]:hover,
button:hover {
  background: #cecece;
  color: #313131;
}
input[type=submit][disabled],
input[type=reset][disabled],
button[disabled] {
  background: #dbdbdb;
  color: #676767;
  cursor: not-allowed;
}

input[type=submit],
button[type=submit] {
  background: #1a82e5;
  color: #f4f4f4;
}
input[type=submit]:hover,
button[type=submit]:hover {
  background: #1465b3;
  color: #b9b9b9;
}

input[type=button],
button[type=button] {
  background: #24be6d;
  color: #f4f4f4;
}
input[type=button]:hover,
button[type=button]:hover {
  background: #1b8f52;
  color: #b9b9b9;
}

input,
select,
label {
  margin-right: 0.7rem;
}

input,
select,
textarea {
  margin-bottom: 1rem;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=phone],
input[type=tel],
input[type=number],
input[type=datetime],
input[type=date],
input[type=month],
input[type=week],
input[type=color],
input[type=time],
input[type=search],
input[type=range],
input[type=file],
input[type=datetime-local],
select,
textarea {
  border: 1px solid gray;
  padding: 0.6rem 0.5rem;
}

input[type=checkbox],
input[type=radio] {
  flex-grow: 0;
  height: 1.65rem;
  margin-left: 0;
  margin-right: 0.7rem;
  vertical-align: middle;
}
input[type=checkbox] + label,
input[type=radio] + label {
  page-break-before: avoid;
}

select[multiple] {
  min-width: 16rem;
}

address,
article,
aside,
blockquote,
canvas,
main,
nav,
section,
div,
figure {
  display: block;
  width: 100%;
}

canvas {
  height: 10rem;
  width: 20rem;
  max-width: 100%;
}

section,
main,
article {
  margin: 0 auto;
  width: 100%;
}

nav {
  text-align: center;
}
nav ul {
  margin: 0;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li + li {
  margin-left: 0.7rem;
}

dl,
ol,
ul {
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
}

ol,
ul {
  margin-left: 2rem;
  padding-left: 2.6rem;
}

li dl,
li ol,
li ul {
  margin-bottom: 0;
}

dl {
  display: inline-block;
}

dt {
  padding: 0 1rem;
}

dd {
  padding: 0 1rem 0.25rem;
}
dd:last-of-type {
  border-bottom: 0.06rem solid gray;
}
dd + dt {
  border-top: 0.06rem solid gray;
  padding-top: 0.5rem;
}

table,
th,
td,
tr {
  border: 1px solid #313131;
  border-collapse: collapse;
}

table {
  display: table;
  width: 100%;
}

th {
  font-weight: 600;
}

td,
th {
  text-align: left;
  padding: 0.8rem;
}

caption {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0.8rem;
}

pre,
code,
kbd,
samp,
var,
output {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.9rem;
}

code,
kbd {
  padding: 0.5rem;
  border-radius: 0.3rem;
  background: #aaa;
  color: #24be6d;
  display: inline-block;
}

kbd {
  background: #24be6d;
  color: #f4f4f4;
  border: 1px solid #24be6d;
}

pre {
  border-left: 0.1rem solid #717171;
  line-height: 0.8rem;
  overflow: auto;
  padding-left: 0;
}
pre code {
  background: none;
  border: 0;
  line-height: 1.65rem;
  padding: 0;
}

@media (max-width: 45rem) {
  header,
footer {
    padding: 0.8rem 0;
  }

  main,
section,
article {
    margin: 0 auto;
    max-width: 100%;
  }

  input,
textarea,
select,
p,
table {
    width: 100%;
    max-width: 24rem;
    min-width: 0;
  }

  canvas {
    height: 9rem;
    width: 18rem;
  }
}
h1, .h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: #313131;
  font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 0.625rem;
  line-height: 1;
  font-weight: 600;
}

h1, .h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
h1 + h1, .h1 + h1, h1 + .h1, .h1 + .h1 {
  page-break-before: always;
}

h2, .h2 {
  font-size: 2.1875rem;
}

h3, .h3 {
  font-size: 1.875rem;
}

h4, .h4 {
  font-size: 1.6875rem;
}

h5, .h5 {
  font-size: 1.5rem;
}

h6, .h6 {
  font-size: 1.25rem;
}

.expand-1 {
  font-weight: 300;
  margin-bottom: 1.875rem;
  font-size: 5rem;
}

.expand-2 {
  font-weight: 300;
  margin-bottom: 1.875rem;
  font-size: 4.8rem;
}

.expand-3 {
  font-weight: 300;
  margin-bottom: 1.875rem;
  font-size: 4.375rem;
}

.expand-4 {
  font-weight: 300;
  margin-bottom: 1.875rem;
  font-size: 4.0625rem;
}

.expand-5 {
  font-weight: 300;
  margin-bottom: 1.875rem;
  font-size: 3.75rem;
}

.expand-6 {
  font-weight: 300;
  margin-bottom: 1.875rem;
  font-size: 3.4375rem;
}

.color-blue {
  color: #1a82e5;
}

.color-green {
  color: #24be6d;
}

.color-red {
  color: #e73b4a;
}

.color-yellow {
  color: #D8D456;
}

.color-pink {
  color: #d85598;
}

.color-violet {
  color: #911eC7;
}

.color-indigo {
  color: #6B11FF;
}

.color-cyan {
  color: #10C1C9;
}

.color-orange {
  color: #EE9238;
}

.color-white {
  color: #f4f4f4;
}

.color-dark {
  color: #313131;
}

.btn {
  padding: 0.4375rem;
  border: 0.125rem solid transparent;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.3125rem;
  background: gray;
  color: #f4f4f4;
  transition: background 0.2s linear;
}

.btn-link {
  padding: 0.4375rem;
  border: 0.125rem solid transparent;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.3125rem;
  background: gray;
  color: #f4f4f4;
  transition: background 0.2s linear;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin: 0.3125rem;
  font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.btn-link:hover {
  text-decoration: none;
}

.btn-block {
  display: block !important;
  width: 100%;
}

.btn-radius {
  border-radius: 1.375rem;
}

.btn-sm {
  padding: 0.4375rem !important;
  font-size: 1rem !important;
}

.btn-md {
  padding: 0.75rem !important;
  font-size: 1rem !important;
}

.btn-lg {
  padding: 1.0625rem !important;
  font-size: 1rem !important;
}

.btn-ex-lg {
  padding: 1.3125rem !important;
  font-size: 1.125rem !important;
}

.flat-btn-blue {
  background: #1a82e5;
  outline: none;
  transition: box-shadow 0.2s linear;
  color: #f4f4f4;
}
.flat-btn-blue:hover {
  background: #1772ca;
  color: #f4f4f4;
}
.flat-btn-blue:focus {
  box-shadow: 0 0 4px 5px #318fe8;
  background: #1772ca;
}

.ghost-btn-blue {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #1a82e5;
  color: #1a82e5;
}
.ghost-btn-blue:hover {
  background: #1a82e5;
  color: #f4f4f4;
}
.ghost-btn-blue:focus {
  background: #1a82e5;
  color: #f4f4f4;
}

.flat-btn-green {
  background: #24be6d;
  outline: none;
  transition: box-shadow 0.2s linear;
  color: #f4f4f4;
}
.flat-btn-green:hover {
  background: #20a760;
  color: #f4f4f4;
}
.flat-btn-green:focus {
  box-shadow: 0 0 4px 5px #3ac57c;
  background: #20a760;
}

.ghost-btn-green {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #24be6d;
  color: #24be6d;
}
.ghost-btn-green:hover {
  background: #24be6d;
  color: #f4f4f4;
}
.ghost-btn-green:focus {
  background: #24be6d;
  color: #f4f4f4;
}

.flat-btn-red {
  background: #e73b4a;
  outline: none;
  transition: box-shadow 0.2s linear;
  color: #f4f4f4;
}
.flat-btn-red:hover {
  background: #cb3441;
  color: #f4f4f4;
}
.flat-btn-red:focus {
  box-shadow: 0 0 4px 5px #e94f5c;
  background: #cb3441;
}

.ghost-btn-red {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #e73b4a;
  color: #e73b4a;
}
.ghost-btn-red:hover {
  background: #e73b4a;
  color: #f4f4f4;
}
.ghost-btn-red:focus {
  background: #e73b4a;
  color: #f4f4f4;
}

.flat-btn-yellow {
  background: #D8D456;
  outline: none;
  transition: box-shadow 0.2s linear;
  color: #f4f4f4;
}
.flat-btn-yellow:hover {
  background: #bebb4c;
  color: #f4f4f4;
}
.flat-btn-yellow:focus {
  box-shadow: 0 0 4px 5px #dcd867;
  background: #bebb4c;
}

.ghost-btn-yellow {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #D8D456;
  color: #D8D456;
}
.ghost-btn-yellow:hover {
  background: #D8D456;
  color: #f4f4f4;
}
.ghost-btn-yellow:focus {
  background: #D8D456;
  color: #f4f4f4;
}

.flat-btn-pink {
  background: #d85598;
  outline: none;
  transition: box-shadow 0.2s linear;
  color: #f4f4f4;
}
.flat-btn-pink:hover {
  background: #be4b86;
  color: #f4f4f4;
}
.flat-btn-pink:focus {
  box-shadow: 0 0 4px 5px #dc66a2;
  background: #be4b86;
}

.ghost-btn-pink {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #d85598;
  color: #d85598;
}
.ghost-btn-pink:hover {
  background: #d85598;
  color: #f4f4f4;
}
.ghost-btn-pink:focus {
  background: #d85598;
  color: #f4f4f4;
}

.flat-btn-violet {
  background: #911eC7;
  outline: none;
  transition: box-shadow 0.2s linear;
  color: #f4f4f4;
}
.flat-btn-violet:hover {
  background: #801aaf;
  color: #f4f4f4;
}
.flat-btn-violet:focus {
  box-shadow: 0 0 4px 5px #9c35cd;
  background: #801aaf;
}

.ghost-btn-violet {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #911eC7;
  color: #911eC7;
}
.ghost-btn-violet:hover {
  background: #911eC7;
  color: #f4f4f4;
}
.ghost-btn-violet:focus {
  background: #911eC7;
  color: #f4f4f4;
}

.flat-btn-indigo {
  background: #6B11FF;
  outline: none;
  transition: box-shadow 0.2s linear;
  color: #f4f4f4;
}
.flat-btn-indigo:hover {
  background: #5e0fe0;
  color: #f4f4f4;
}
.flat-btn-indigo:focus {
  box-shadow: 0 0 4px 5px #7a29ff;
  background: #5e0fe0;
}

.ghost-btn-indigo {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #6B11FF;
  color: #6B11FF;
}
.ghost-btn-indigo:hover {
  background: #6B11FF;
  color: #f4f4f4;
}
.ghost-btn-indigo:focus {
  background: #6B11FF;
  color: #f4f4f4;
}

.flat-btn-cyan {
  background: #10C1C9;
  outline: none;
  transition: box-shadow 0.2s linear;
  color: #f4f4f4;
}
.flat-btn-cyan:hover {
  background: #0eaab1;
  color: #f4f4f4;
}
.flat-btn-cyan:focus {
  box-shadow: 0 0 4px 5px #28c7ce;
  background: #0eaab1;
}

.ghost-btn-cyan {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #10C1C9;
  color: #10C1C9;
}
.ghost-btn-cyan:hover {
  background: #10C1C9;
  color: #f4f4f4;
}
.ghost-btn-cyan:focus {
  background: #10C1C9;
  color: #f4f4f4;
}

.flat-btn-orange {
  background: #EE9238;
  outline: none;
  transition: box-shadow 0.2s linear;
  color: #f4f4f4;
}
.flat-btn-orange:hover {
  background: #d18031;
  color: #f4f4f4;
}
.flat-btn-orange:focus {
  box-shadow: 0 0 4px 5px #f09d4c;
  background: #d18031;
}

.ghost-btn-orange {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #EE9238;
  color: #EE9238;
}
.ghost-btn-orange:hover {
  background: #EE9238;
  color: #f4f4f4;
}
.ghost-btn-orange:focus {
  background: #EE9238;
  color: #f4f4f4;
}

.flat-btn-white {
  background: #f4f4f4;
  outline: none;
  transition: box-shadow 0.2s linear;
  color: #313131;
}
.flat-btn-white:hover {
  background: #d7d7d7;
  color: #313131;
}
.flat-btn-white:focus {
  box-shadow: 0 0 4px 5px whitesmoke;
  background: #d7d7d7;
}

.ghost-btn-white {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #f4f4f4;
  color: #313131;
}
.ghost-btn-white:hover {
  background: #f4f4f4;
  color: #313131;
}
.ghost-btn-white:focus {
  background: #f4f4f4;
  color: #313131;
}

.flat-btn-dark {
  background: #313131;
  outline: none;
  transition: box-shadow 0.2s linear;
  color: #f4f4f4;
}
.flat-btn-dark:hover {
  background: #2b2b2b;
  color: #f4f4f4;
}
.flat-btn-dark:focus {
  box-shadow: 0 0 4px 5px #464646;
  background: #2b2b2b;
}

.ghost-btn-dark {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #313131;
  color: #313131;
}
.ghost-btn-dark:hover {
  background: #313131;
  color: #f4f4f4;
}
.ghost-btn-dark:focus {
  background: #313131;
  color: #f4f4f4;
}

@media (min-width: 46.25rem) {
  .btn,
.btn-link {
    padding: 0.75rem;
    font-size: 1rem;
  }
}

/*# sourceMappingURL=flexcss.css.map */
