option, html,
body {
  font-size: 100%;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.1rem;
}

button,
input,
select,
textarea {
  font-size: 100%;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.1rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  border: none;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: #f4f4f4;
}

section {
  padding: 4rem 0;
}

img {
  display: block;
  height: auto;
  margin: 0 auto;
}

p,
ul,
ol,
dl,
blockquote,
hr,
pre,
table,
form,
fieldset,
figure,
address {
  margin-bottom: 1.5rem;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

p,
span {
  width: 100%;
  max-width: 70ch;
  font-size: 1.1rem;
  line-height: 1.7rem;
  text-align: left;
  color: #585858;
  margin: 1.2rem 0;
}

strong {
  font-size: 1.1rem;
  font-weight: 800;
}

a {
  color: #1a82e5;
  text-decoration: none;
}
a:hover {
  text-decoration: underline #1a82e5;
}

hr {
  margin: 0.6rem 0;
  border-bottom: 1px solid gray;
}

em,
i {
  font-size: 1.1rem;
  font-style: italic;
}

small,
figcaption {
  font-size: 0.9rem;
}

del {
  color: gray;
}

sup,
sub {
  font-size: 78%;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.4rem;
}

sub {
  bottom: -0.4rem;
}

button,
input,
select,
textarea {
  border-radius: 0.3125rem;
  border: none;
  border: 1px solid gray;
}
button + label,
button + input[type=checkbox],
button + input[type=radio],
input + label,
input + input[type=checkbox],
input + input[type=radio],
select + label,
select + input[type=checkbox],
select + input[type=radio],
textarea + label,
textarea + input[type=checkbox],
textarea + input[type=radio] {
  page-break-before: always;
}

fieldset {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
fieldset legend {
  margin: 1.2rem 0;
}

textarea {
  min-height: 6rem;
  min-width: 20rem;
  max-width: 38rem;
}

label {
  display: inline-block;
  margin-bottom: 0.7rem;
  font-weight: 600;
  font-size: 1.1rem;
  color: #313131;
}
label + * {
  page-break-before: always;
}
label > input {
  margin-bottom: 0;
}

input[type=submit],
input[type=reset],
button {
  background: #aaa;
  color: #585858;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  display: inline;
  margin-bottom: 1rem;
  margin-right: 0.7rem;
  padding: 0.6rem;
}
input[type=submit]:hover,
input[type=reset]:hover,
button:hover {
  background: #cecece;
  color: #313131;
}
input[type=submit][disabled],
input[type=reset][disabled],
button[disabled] {
  background: #dbdbdb;
  color: #676767;
  cursor: not-allowed;
}

input[type=submit],
button[type=submit] {
  background: #1a82e5;
  color: #f4f4f4;
}
input[type=submit]:hover,
button[type=submit]:hover {
  background: #1465b3;
  color: #b9b9b9;
}

input[type=button],
button[type=button] {
  background: #24be6d;
  color: #f4f4f4;
}
input[type=button]:hover,
button[type=button]:hover {
  background: #1b8f52;
  color: #b9b9b9;
}

input,
select,
label {
  margin-right: 0.7rem;
}

input,
select,
textarea {
  margin-bottom: 1rem;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=phone],
input[type=tel],
input[type=number],
input[type=datetime],
input[type=date],
input[type=month],
input[type=week],
input[type=color],
input[type=time],
input[type=search],
input[type=range],
input[type=file],
input[type=datetime-local],
select,
textarea {
  border: 1px solid gray;
  padding: 0.6rem 0.5rem;
}

input[type=checkbox],
input[type=radio] {
  flex-grow: 0;
  height: 1.65rem;
  margin-left: 0;
  margin-right: 0.7rem;
  vertical-align: middle;
}
input[type=checkbox] + label,
input[type=radio] + label {
  page-break-before: avoid;
}

select[multiple] {
  min-width: 16rem;
}

address,
article,
aside,
blockquote,
canvas,
main,
nav,
section,
div,
figure {
  display: block;
  width: 100%;
}

canvas {
  height: 10rem;
  width: 20rem;
  max-width: 100%;
}

section,
main,
article {
  margin: 0 auto;
  width: 100%;
}

nav {
  text-align: center;
}
nav ul {
  margin: 0;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li + li {
  margin-left: 0.7rem;
}

dl,
ol,
ul {
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
}

ol,
ul {
  margin-left: 2rem;
  padding-left: 2.6rem;
}

li dl,
li ol,
li ul {
  margin-bottom: 0;
}

dl {
  display: inline-block;
}

dt {
  padding: 0 1rem;
}

dd {
  padding: 0 1rem 0.25rem;
}
dd:last-of-type {
  border-bottom: 0.06rem solid gray;
}
dd + dt {
  border-top: 0.06rem solid gray;
  padding-top: 0.5rem;
}

table,
th,
td,
tr {
  border: 1px solid #313131;
  border-collapse: collapse;
}

table {
  display: table;
  width: 100%;
}

th {
  font-weight: 600;
}

td,
th {
  text-align: left;
  padding: 0.8rem;
}

caption {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0.8rem;
}

pre,
code,
kbd,
samp,
var,
output {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.9rem;
}

code,
kbd {
  padding: 0.5rem;
  border-radius: 0.3rem;
  background: #aaa;
  color: #24be6d;
  display: inline-block;
}

kbd {
  background: #24be6d;
  color: #f4f4f4;
  border: 1px solid #24be6d;
}

pre {
  border-left: 0.1rem solid #717171;
  line-height: 0.8rem;
  overflow: auto;
  padding-left: 0;
}
pre code {
  background: none;
  border: 0;
  line-height: 1.65rem;
  padding: 0;
}

@media (max-width: 45rem) {
  header,
footer {
    padding: 0.8rem 0;
  }

  main,
section,
article {
    margin: 0 auto;
    max-width: 100%;
  }

  input,
textarea,
select,
p,
table {
    width: 100%;
    max-width: 24rem;
    min-width: 0;
  }

  canvas {
    height: 9rem;
    width: 18rem;
  }
}
h1, .h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: #313131;
  font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 0.625rem;
  line-height: 1;
  font-weight: 600;
}

h1, .h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
h1 + h1, .h1 + h1, h1 + .h1, .h1 + .h1 {
  page-break-before: always;
}

h2, .h2 {
  font-size: 2.1875rem;
}

h3, .h3 {
  font-size: 1.875rem;
}

h4, .h4 {
  font-size: 1.6875rem;
}

h5, .h5 {
  font-size: 1.5rem;
}

h6, .h6 {
  font-size: 1.25rem;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.text {
  font-size: 1.125rem;
  font-weight: 300;
  font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #585858;
  line-height: 1.5;
  display: block;
  max-width: 100%;
}

.italic {
  font-style: italic;
}

.text-underline {
  text-decoration: underline;
}

.expand-1 {
  font-weight: 300;
  margin-bottom: 1.875rem;
  font-size: 5rem;
}

.expand-2 {
  font-weight: 300;
  margin-bottom: 1.875rem;
  font-size: 4.8rem;
}

.expand-3 {
  font-weight: 300;
  margin-bottom: 1.875rem;
  font-size: 4.375rem;
}

.expand-4 {
  font-weight: 300;
  margin-bottom: 1.875rem;
  font-size: 4.0625rem;
}

.expand-5 {
  font-weight: 300;
  margin-bottom: 1.875rem;
  font-size: 3.75rem;
}

.expand-6 {
  font-weight: 300;
  margin-bottom: 1.875rem;
  font-size: 3.4375rem;
}

.color-blue-1 {
  color: #006bca;
}

.color-blue-2 {
  color: #0072d3;
}

.color-blue-3 {
  color: #007adc;
}

.color-blue-4 {
  color: #1a82e5;
}

.color-blue-5 {
  color: #2e8aee;
}

.color-blue-6 {
  color: #3d92f7;
}

.color-blue-7 {
  color: #499aff;
}

.color-green-1 {
  color: #009d4f;
}

.color-green-2 {
  color: #00a859;
}

.color-green-3 {
  color: #07b363;
}

.color-green-4 {
  color: #24be6d;
}

.color-green-5 {
  color: #36c977;
}

.color-green-6 {
  color: #45d581;
}

.color-green-7 {
  color: #52e08c;
}

.color-red-1 {
  color: #ca1735;
}

.color-red-2 {
  color: #d3253c;
}

.color-red-3 {
  color: #dd3143;
}

.color-red-4 {
  color: #e73b4a;
}

.color-red-5 {
  color: #f14551;
}

.color-red-6 {
  color: #fb4e58;
}

.color-red-7 {
  color: #ff5860;
}

.color-orange-1 {
  color: #c97315;
}

.color-orange-2 {
  color: #d57d22;
}

.color-orange-3 {
  color: #e2872d;
}

.color-orange-4 {
  color: #ee9238;
}

.color-orange-5 {
  color: #fb9d43;
}

.color-orange-6 {
  color: #ffa74d;
}

.color-orange-7 {
  color: #ffb258;
}

.color-violet-1 {
  color: #7d00b4;
}

.color-violet-2 {
  color: #8405ba;
}

.color-violet-3 {
  color: #8a14c0;
}

.color-violet-4 {
  color: #911ec7;
}

.color-violet-5 {
  color: #9827ce;
}

.color-violet-6 {
  color: #9e2fd4;
}

.color-violet-7 {
  color: #a536db;
}

.color-indigo-1 {
  color: #5200eb;
}

.color-indigo-2 {
  color: #5a00f1;
}

.color-indigo-3 {
  color: #6301f8;
}

.color-indigo-4 {
  color: #6b11ff;
}

.color-indigo-5 {
  color: #731cff;
}

.color-indigo-6 {
  color: #7b25ff;
}

.color-indigo-7 {
  color: #822dff;
}

.color-cyan-1 {
  color: #009fa7;
}

.color-cyan-2 {
  color: #00aab2;
}

.color-cyan-3 {
  color: #00b5be;
}

.color-cyan-4 {
  color: #10c1c9;
}

.color-cyan-5 {
  color: #2dcdd5;
}

.color-cyan-6 {
  color: #40d8e0;
}

.color-cyan-7 {
  color: #51e4ec;
}

.color-pink-1 {
  color: #bb397f;
}

.color-pink-2 {
  color: #c54387;
}

.color-pink-3 {
  color: #ce4c90;
}

.color-pink-4 {
  color: #d85598;
}

.color-pink-5 {
  color: #e25ea1;
}

.color-pink-6 {
  color: #eb67a9;
}

.color-pink-7 {
  color: #f570b2;
}

.color-yellow-1 {
  color: #aeac2d;
}

.color-yellow-2 {
  color: #bcb93b;
}

.color-yellow-3 {
  color: #cac749;
}

.color-yellow-4 {
  color: #d8d456;
}

.color-dark-1 {
  color: #292929;
}

.color-dark-2 {
  color: #2c2c2c;
}

.color-dark-3 {
  color: #2e2e2e;
}

.color-dark-4 {
  color: #313131;
}

.color-dark-5 {
  color: #343434;
}

.color-dark-6 {
  color: #363636;
}

.color-dark-7 {
  color: #393939;
}

.bold-300 {
  font-weight: 300 !important;
}

.bold-400 {
  font-weight: 400 !important;
}

.bold-500 {
  font-weight: 500 !important;
}

.bold-600 {
  font-weight: 600 !important;
}

.bold-700 {
  font-weight: 700 !important;
}

.bold-800 {
  font-weight: 800 !important;
}

.bold-900 {
  font-weight: 900 !important;
}

.btn {
  padding: 0.4375rem;
  border: 0.125rem solid transparent;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.3125rem;
  background: gray;
  color: #f4f4f4;
  transition: background 0.2s linear;
}

.btn-link {
  padding: 0.4375rem;
  border: 0.125rem solid transparent;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.3125rem;
  background: gray;
  color: #f4f4f4;
  transition: background 0.2s linear;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin: 0.3125rem;
  font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.btn-link:hover {
  text-decoration: none;
}

.btn:hover,
.btn-link:hover {
  background: #737373;
}

.btn-block {
  display: block !important;
  width: 100%;
}

.btn-radius {
  border-radius: 1.375rem;
}

.btn-sm {
  padding: 0.4375rem !important;
  font-size: 1rem !important;
}

.btn-md {
  padding: 0.75rem !important;
  font-size: 1rem !important;
}

.btn-lg {
  padding: 1.0625rem !important;
  font-size: 1rem !important;
}

.btn-ex-lg {
  padding: 1.3125rem !important;
  font-size: 1.125rem !important;
}

.flat-btn-blue-1 {
  background: #006bca;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-blue-1:hover {
  background: #1778cf;
  box-shadow: inset 0 0 4px 4px #0060b6;
  color: #f4f4f4;
}
.flat-btn-blue-1:focus {
  box-shadow: 0 0 4px 5px #1778cf;
  background: #005db0;
  color: #f4f4f4;
}

.ghost-btn-blue-1 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #006bca;
  color: #006bca;
}
.ghost-btn-blue-1:hover {
  background: #006bca;
  color: #f4f4f4;
}
.ghost-btn-blue-1:focus {
  background: #006bca;
  color: #f4f4f4;
}

.flat-btn-blue-2 {
  background: #0072d3;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-blue-2:hover {
  background: #177fd7;
  box-shadow: inset 0 0 4px 4px #0067be;
  color: #f4f4f4;
}
.flat-btn-blue-2:focus {
  box-shadow: 0 0 4px 5px #177fd7;
  background: #0063b8;
  color: #f4f4f4;
}

.ghost-btn-blue-2 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #0072d3;
  color: #0072d3;
}
.ghost-btn-blue-2:hover {
  background: #0072d3;
  color: #f4f4f4;
}
.ghost-btn-blue-2:focus {
  background: #0072d3;
  color: #f4f4f4;
}

.flat-btn-blue-3 {
  background: #007adc;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-blue-3:hover {
  background: #1786df;
  box-shadow: inset 0 0 4px 4px #006ec6;
  color: #f4f4f4;
}
.flat-btn-blue-3:focus {
  box-shadow: 0 0 4px 5px #1786df;
  background: #006abf;
  color: #f4f4f4;
}

.ghost-btn-blue-3 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #007adc;
  color: #007adc;
}
.ghost-btn-blue-3:hover {
  background: #007adc;
  color: #f4f4f4;
}
.ghost-btn-blue-3:focus {
  background: #007adc;
  color: #f4f4f4;
}

.flat-btn-blue-4 {
  background: #1a82e5;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-blue-4:hover {
  background: #2f8de7;
  box-shadow: inset 0 0 4px 4px #1775ce;
  color: #f4f4f4;
}
.flat-btn-blue-4:focus {
  box-shadow: 0 0 4px 5px #2f8de7;
  background: #1771c7;
  color: #f4f4f4;
}

.ghost-btn-blue-4 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #1a82e5;
  color: #1a82e5;
}
.ghost-btn-blue-4:hover {
  background: #1a82e5;
  color: #f4f4f4;
}
.ghost-btn-blue-4:focus {
  background: #1a82e5;
  color: #f4f4f4;
}

.flat-btn-blue-5 {
  background: #2e8aee;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-blue-5:hover {
  background: #4195f0;
  box-shadow: inset 0 0 4px 4px #297cd6;
  color: #f4f4f4;
}
.flat-btn-blue-5:focus {
  box-shadow: 0 0 4px 5px #4195f0;
  background: #2878cf;
  color: #f4f4f4;
}

.ghost-btn-blue-5 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #2e8aee;
  color: #2e8aee;
}
.ghost-btn-blue-5:hover {
  background: #2e8aee;
  color: #f4f4f4;
}
.ghost-btn-blue-5:focus {
  background: #2e8aee;
  color: #f4f4f4;
}

.flat-btn-blue-6 {
  background: #3d92f7;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-blue-6:hover {
  background: #4e9cf8;
  box-shadow: inset 0 0 4px 4px #3783de;
  color: #f4f4f4;
}
.flat-btn-blue-6:focus {
  box-shadow: 0 0 4px 5px #4e9cf8;
  background: #357fd7;
  color: #f4f4f4;
}

.ghost-btn-blue-6 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #3d92f7;
  color: #3d92f7;
}
.ghost-btn-blue-6:hover {
  background: #3d92f7;
  color: #f4f4f4;
}
.ghost-btn-blue-6:focus {
  background: #3d92f7;
  color: #f4f4f4;
}

.flat-btn-blue-7 {
  background: #499aff;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-blue-7:hover {
  background: #59a3ff;
  box-shadow: inset 0 0 4px 4px #428be6;
  color: #f4f4f4;
}
.flat-btn-blue-7:focus {
  box-shadow: 0 0 4px 5px #59a3ff;
  background: #4086de;
  color: #f4f4f4;
}

.ghost-btn-blue-7 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #499aff;
  color: #499aff;
}
.ghost-btn-blue-7:hover {
  background: #499aff;
  color: #f4f4f4;
}
.ghost-btn-blue-7:focus {
  background: #499aff;
  color: #f4f4f4;
}

.flat-btn-green-1 {
  background: #009d4f;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-green-1:hover {
  background: #17a65f;
  box-shadow: inset 0 0 4px 4px #008d47;
  color: #f4f4f4;
}
.flat-btn-green-1:focus {
  box-shadow: 0 0 4px 5px #17a65f;
  background: #008945;
  color: #f4f4f4;
}

.ghost-btn-green-1 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #009d4f;
  color: #009d4f;
}
.ghost-btn-green-1:hover {
  background: #009d4f;
  color: #f4f4f4;
}
.ghost-btn-green-1:focus {
  background: #009d4f;
  color: #f4f4f4;
}

.flat-btn-green-2 {
  background: #00a859;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-green-2:hover {
  background: #17b068;
  box-shadow: inset 0 0 4px 4px #009750;
  color: #f4f4f4;
}
.flat-btn-green-2:focus {
  box-shadow: 0 0 4px 5px #17b068;
  background: #00924d;
  color: #f4f4f4;
}

.ghost-btn-green-2 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #00a859;
  color: #00a859;
}
.ghost-btn-green-2:hover {
  background: #00a859;
  color: #f4f4f4;
}
.ghost-btn-green-2:focus {
  background: #00a859;
  color: #f4f4f4;
}

.flat-btn-green-3 {
  background: #07b363;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-green-3:hover {
  background: #1dba71;
  box-shadow: inset 0 0 4px 4px #06a159;
  color: #f4f4f4;
}
.flat-btn-green-3:focus {
  box-shadow: 0 0 4px 5px #1dba71;
  background: #069c56;
  color: #f4f4f4;
}

.ghost-btn-green-3 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #07b363;
  color: #07b363;
}
.ghost-btn-green-3:hover {
  background: #07b363;
  color: #f4f4f4;
}
.ghost-btn-green-3:focus {
  background: #07b363;
  color: #f4f4f4;
}

.flat-btn-green-4 {
  background: #24be6d;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-green-4:hover {
  background: #38c47a;
  box-shadow: inset 0 0 4px 4px #20ab62;
  color: #f4f4f4;
}
.flat-btn-green-4:focus {
  box-shadow: 0 0 4px 5px #38c47a;
  background: #1fa55f;
  color: #f4f4f4;
}

.ghost-btn-green-4 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #24be6d;
  color: #24be6d;
}
.ghost-btn-green-4:hover {
  background: #24be6d;
  color: #f4f4f4;
}
.ghost-btn-green-4:focus {
  background: #24be6d;
  color: #f4f4f4;
}

.flat-btn-green-5 {
  background: #36c977;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-green-5:hover {
  background: #48ce83;
  box-shadow: inset 0 0 4px 4px #31b56b;
  color: #f4f4f4;
}
.flat-btn-green-5:focus {
  box-shadow: 0 0 4px 5px #48ce83;
  background: #2faf68;
  color: #f4f4f4;
}

.ghost-btn-green-5 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #36c977;
  color: #36c977;
}
.ghost-btn-green-5:hover {
  background: #36c977;
  color: #f4f4f4;
}
.ghost-btn-green-5:focus {
  background: #36c977;
  color: #f4f4f4;
}

.flat-btn-green-6 {
  background: #45d581;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-green-6:hover {
  background: #56d98c;
  box-shadow: inset 0 0 4px 4px #3ec074;
  color: #f4f4f4;
}
.flat-btn-green-6:focus {
  box-shadow: 0 0 4px 5px #56d98c;
  background: #3cb970;
  color: #f4f4f4;
}

.ghost-btn-green-6 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #45d581;
  color: #45d581;
}
.ghost-btn-green-6:hover {
  background: #45d581;
  color: #f4f4f4;
}
.ghost-btn-green-6:focus {
  background: #45d581;
  color: #f4f4f4;
}

.flat-btn-green-7 {
  background: #52e08c;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-green-7:hover {
  background: #62e396;
  box-shadow: inset 0 0 4px 4px #4aca7e;
  color: #f4f4f4;
}
.flat-btn-green-7:focus {
  box-shadow: 0 0 4px 5px #62e396;
  background: #47c37a;
  color: #f4f4f4;
}

.ghost-btn-green-7 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #52e08c;
  color: #52e08c;
}
.ghost-btn-green-7:hover {
  background: #52e08c;
  color: #f4f4f4;
}
.ghost-btn-green-7:focus {
  background: #52e08c;
  color: #f4f4f4;
}

.flat-btn-red-1 {
  background: #ca1735;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-red-1:hover {
  background: #cf2c47;
  box-shadow: inset 0 0 4px 4px #b61530;
  color: #f4f4f4;
}
.flat-btn-red-1:focus {
  box-shadow: 0 0 4px 5px #cf2c47;
  background: #b0142e;
  color: #f4f4f4;
}

.ghost-btn-red-1 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #ca1735;
  color: #ca1735;
}
.ghost-btn-red-1:hover {
  background: #ca1735;
  color: #f4f4f4;
}
.ghost-btn-red-1:focus {
  background: #ca1735;
  color: #f4f4f4;
}

.flat-btn-red-2 {
  background: #d3253c;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-red-2:hover {
  background: #d7394e;
  box-shadow: inset 0 0 4px 4px #be2136;
  color: #f4f4f4;
}
.flat-btn-red-2:focus {
  box-shadow: 0 0 4px 5px #d7394e;
  background: #b82034;
  color: #f4f4f4;
}

.ghost-btn-red-2 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #d3253c;
  color: #d3253c;
}
.ghost-btn-red-2:hover {
  background: #d3253c;
  color: #f4f4f4;
}
.ghost-btn-red-2:focus {
  background: #d3253c;
  color: #f4f4f4;
}

.flat-btn-red-3 {
  background: #dd3143;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-red-3:hover {
  background: #e04454;
  box-shadow: inset 0 0 4px 4px #c72c3c;
  color: #f4f4f4;
}
.flat-btn-red-3:focus {
  box-shadow: 0 0 4px 5px #e04454;
  background: #c02b3a;
  color: #f4f4f4;
}

.ghost-btn-red-3 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #dd3143;
  color: #dd3143;
}
.ghost-btn-red-3:hover {
  background: #dd3143;
  color: #f4f4f4;
}
.ghost-btn-red-3:focus {
  background: #dd3143;
  color: #f4f4f4;
}

.flat-btn-red-4 {
  background: #e73b4a;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-red-4:hover {
  background: #e94d5a;
  box-shadow: inset 0 0 4px 4px #d03543;
  color: #f4f4f4;
}
.flat-btn-red-4:focus {
  box-shadow: 0 0 4px 5px #e94d5a;
  background: #c93340;
  color: #f4f4f4;
}

.ghost-btn-red-4 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #e73b4a;
  color: #e73b4a;
}
.ghost-btn-red-4:hover {
  background: #e73b4a;
  color: #f4f4f4;
}
.ghost-btn-red-4:focus {
  background: #e73b4a;
  color: #f4f4f4;
}

.flat-btn-red-5 {
  background: #f14551;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-red-5:hover {
  background: #f25661;
  box-shadow: inset 0 0 4px 4px #d93e49;
  color: #f4f4f4;
}
.flat-btn-red-5:focus {
  box-shadow: 0 0 4px 5px #f25661;
  background: #d23c46;
  color: #f4f4f4;
}

.ghost-btn-red-5 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #f14551;
  color: #f14551;
}
.ghost-btn-red-5:hover {
  background: #f14551;
  color: #f4f4f4;
}
.ghost-btn-red-5:focus {
  background: #f14551;
  color: #f4f4f4;
}

.flat-btn-red-6 {
  background: #fb4e58;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-red-6:hover {
  background: #fb5e67;
  box-shadow: inset 0 0 4px 4px #e2464f;
  color: #f4f4f4;
}
.flat-btn-red-6:focus {
  box-shadow: 0 0 4px 5px #fb5e67;
  background: #da444d;
  color: #f4f4f4;
}

.ghost-btn-red-6 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #fb4e58;
  color: #fb4e58;
}
.ghost-btn-red-6:hover {
  background: #fb4e58;
  color: #f4f4f4;
}
.ghost-btn-red-6:focus {
  background: #fb4e58;
  color: #f4f4f4;
}

.flat-btn-red-7 {
  background: #ff5860;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-red-7:hover {
  background: #ff676e;
  box-shadow: inset 0 0 4px 4px #e64f56;
  color: #f4f4f4;
}
.flat-btn-red-7:focus {
  box-shadow: 0 0 4px 5px #ff676e;
  background: #de4d54;
  color: #f4f4f4;
}

.ghost-btn-red-7 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #ff5860;
  color: #ff5860;
}
.ghost-btn-red-7:hover {
  background: #ff5860;
  color: #f4f4f4;
}
.ghost-btn-red-7:focus {
  background: #ff5860;
  color: #f4f4f4;
}

.flat-btn-orange-1 {
  background: #c97315;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-orange-1:hover {
  background: #ce802a;
  box-shadow: inset 0 0 4px 4px #b56813;
  color: #f4f4f4;
}
.flat-btn-orange-1:focus {
  box-shadow: 0 0 4px 5px #ce802a;
  background: #af6412;
  color: #f4f4f4;
}

.ghost-btn-orange-1 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #c97315;
  color: #c97315;
}
.ghost-btn-orange-1:hover {
  background: #c97315;
  color: #f4f4f4;
}
.ghost-btn-orange-1:focus {
  background: #c97315;
  color: #f4f4f4;
}

.flat-btn-orange-2 {
  background: #d57d22;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-orange-2:hover {
  background: #d98936;
  box-shadow: inset 0 0 4px 4px #c0711f;
  color: #f4f4f4;
}
.flat-btn-orange-2:focus {
  box-shadow: 0 0 4px 5px #d98936;
  background: #b96d1e;
  color: #f4f4f4;
}

.ghost-btn-orange-2 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #d57d22;
  color: #d57d22;
}
.ghost-btn-orange-2:hover {
  background: #d57d22;
  color: #f4f4f4;
}
.ghost-btn-orange-2:focus {
  background: #d57d22;
  color: #f4f4f4;
}

.flat-btn-orange-3 {
  background: #e2872d;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-orange-3:hover {
  background: #e59240;
  box-shadow: inset 0 0 4px 4px #cb7a29;
  color: #f4f4f4;
}
.flat-btn-orange-3:focus {
  box-shadow: 0 0 4px 5px #e59240;
  background: #c57527;
  color: #f4f4f4;
}

.ghost-btn-orange-3 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #e2872d;
  color: #e2872d;
}
.ghost-btn-orange-3:hover {
  background: #e2872d;
  color: #f4f4f4;
}
.ghost-btn-orange-3:focus {
  background: #e2872d;
  color: #f4f4f4;
}

.flat-btn-orange-4 {
  background: #ee9238;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-orange-4:hover {
  background: #f09c4a;
  box-shadow: inset 0 0 4px 4px #d68332;
  color: #f4f4f4;
}
.flat-btn-orange-4:focus {
  box-shadow: 0 0 4px 5px #f09c4a;
  background: #cf7f31;
  color: #f4f4f4;
}

.ghost-btn-orange-4 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #ee9238;
  color: #ee9238;
}
.ghost-btn-orange-4:hover {
  background: #ee9238;
  color: #f4f4f4;
}
.ghost-btn-orange-4:focus {
  background: #ee9238;
  color: #f4f4f4;
}

.flat-btn-orange-5 {
  background: #fb9d43;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-orange-5:hover {
  background: #fba654;
  box-shadow: inset 0 0 4px 4px #e28d3c;
  color: #f4f4f4;
}
.flat-btn-orange-5:focus {
  box-shadow: 0 0 4px 5px #fba654;
  background: #da893a;
  color: #f4f4f4;
}

.ghost-btn-orange-5 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #fb9d43;
  color: #fb9d43;
}
.ghost-btn-orange-5:hover {
  background: #fb9d43;
  color: #f4f4f4;
}
.ghost-btn-orange-5:focus {
  background: #fb9d43;
  color: #f4f4f4;
}

.flat-btn-orange-6 {
  background: #ffa74d;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-orange-6:hover {
  background: #ffaf5d;
  box-shadow: inset 0 0 4px 4px #e69645;
  color: #f4f4f4;
}
.flat-btn-orange-6:focus {
  box-shadow: 0 0 4px 5px #ffaf5d;
  background: #de9143;
  color: #f4f4f4;
}

.ghost-btn-orange-6 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #ffa74d;
  color: #ffa74d;
}
.ghost-btn-orange-6:hover {
  background: #ffa74d;
  color: #f4f4f4;
}
.ghost-btn-orange-6:focus {
  background: #ffa74d;
  color: #f4f4f4;
}

.flat-btn-orange-7 {
  background: #ffb258;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-orange-7:hover {
  background: #ffb967;
  box-shadow: inset 0 0 4px 4px #e6a04f;
  color: #f4f4f4;
}
.flat-btn-orange-7:focus {
  box-shadow: 0 0 4px 5px #ffb967;
  background: #de9b4d;
  color: #f4f4f4;
}

.ghost-btn-orange-7 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #ffb258;
  color: #ffb258;
}
.ghost-btn-orange-7:hover {
  background: #ffb258;
  color: #f4f4f4;
}
.ghost-btn-orange-7:focus {
  background: #ffb258;
  color: #f4f4f4;
}

.flat-btn-violet-1 {
  background: #7d00b4;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-violet-1:hover {
  background: #8917bb;
  box-shadow: inset 0 0 4px 4px #7100a2;
  color: #f4f4f4;
}
.flat-btn-violet-1:focus {
  box-shadow: 0 0 4px 5px #8917bb;
  background: #6d009d;
  color: #f4f4f4;
}

.ghost-btn-violet-1 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #7d00b4;
  color: #7d00b4;
}
.ghost-btn-violet-1:hover {
  background: #7d00b4;
  color: #f4f4f4;
}
.ghost-btn-violet-1:focus {
  background: #7d00b4;
  color: #f4f4f4;
}

.flat-btn-violet-2 {
  background: #8405ba;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-violet-2:hover {
  background: #8f1cc0;
  box-shadow: inset 0 0 4px 4px #7705a7;
  color: #f4f4f4;
}
.flat-btn-violet-2:focus {
  box-shadow: 0 0 4px 5px #8f1cc0;
  background: #7304a2;
  color: #f4f4f4;
}

.ghost-btn-violet-2 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #8405ba;
  color: #8405ba;
}
.ghost-btn-violet-2:hover {
  background: #8405ba;
  color: #f4f4f4;
}
.ghost-btn-violet-2:focus {
  background: #8405ba;
  color: #f4f4f4;
}

.flat-btn-violet-3 {
  background: #8a14c0;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-violet-3:hover {
  background: #9529c6;
  box-shadow: inset 0 0 4px 4px #7c12ad;
  color: #f4f4f4;
}
.flat-btn-violet-3:focus {
  box-shadow: 0 0 4px 5px #9529c6;
  background: #7811a7;
  color: #f4f4f4;
}

.ghost-btn-violet-3 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #8a14c0;
  color: #8a14c0;
}
.ghost-btn-violet-3:hover {
  background: #8a14c0;
  color: #f4f4f4;
}
.ghost-btn-violet-3:focus {
  background: #8a14c0;
  color: #f4f4f4;
}

.flat-btn-violet-4 {
  background: #911ec7;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-violet-4:hover {
  background: #9b32cc;
  box-shadow: inset 0 0 4px 4px #831bb3;
  color: #f4f4f4;
}
.flat-btn-violet-4:focus {
  box-shadow: 0 0 4px 5px #9b32cc;
  background: #7e1aad;
  color: #f4f4f4;
}

.ghost-btn-violet-4 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #911ec7;
  color: #911ec7;
}
.ghost-btn-violet-4:hover {
  background: #911ec7;
  color: #f4f4f4;
}
.ghost-btn-violet-4:focus {
  background: #911ec7;
  color: #f4f4f4;
}

.flat-btn-violet-5 {
  background: #9827ce;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-violet-5:hover {
  background: #a13ad2;
  box-shadow: inset 0 0 4px 4px #8923b9;
  color: #f4f4f4;
}
.flat-btn-violet-5:focus {
  box-shadow: 0 0 4px 5px #a13ad2;
  background: #8422b3;
  color: #f4f4f4;
}

.ghost-btn-violet-5 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #9827ce;
  color: #9827ce;
}
.ghost-btn-violet-5:hover {
  background: #9827ce;
  color: #f4f4f4;
}
.ghost-btn-violet-5:focus {
  background: #9827ce;
  color: #f4f4f4;
}

.flat-btn-violet-6 {
  background: #9e2fd4;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-violet-6:hover {
  background: #a742d8;
  box-shadow: inset 0 0 4px 4px #8e2abf;
  color: #f4f4f4;
}
.flat-btn-violet-6:focus {
  box-shadow: 0 0 4px 5px #a742d8;
  background: #8929b8;
  color: #f4f4f4;
}

.ghost-btn-violet-6 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #9e2fd4;
  color: #9e2fd4;
}
.ghost-btn-violet-6:hover {
  background: #9e2fd4;
  color: #f4f4f4;
}
.ghost-btn-violet-6:focus {
  background: #9e2fd4;
  color: #f4f4f4;
}

.flat-btn-violet-7 {
  background: #a536db;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-violet-7:hover {
  background: #ad48de;
  box-shadow: inset 0 0 4px 4px #9531c5;
  color: #f4f4f4;
}
.flat-btn-violet-7:focus {
  box-shadow: 0 0 4px 5px #ad48de;
  background: #902fbf;
  color: #f4f4f4;
}

.ghost-btn-violet-7 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #a536db;
  color: #a536db;
}
.ghost-btn-violet-7:hover {
  background: #a536db;
  color: #f4f4f4;
}
.ghost-btn-violet-7:focus {
  background: #a536db;
  color: #f4f4f4;
}

.flat-btn-indigo-1 {
  background: #5200eb;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-indigo-1:hover {
  background: #6217ed;
  box-shadow: inset 0 0 4px 4px #4a00d4;
  color: #f4f4f4;
}
.flat-btn-indigo-1:focus {
  box-shadow: 0 0 4px 5px #6217ed;
  background: #4700cc;
  color: #f4f4f4;
}

.ghost-btn-indigo-1 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #5200eb;
  color: #5200eb;
}
.ghost-btn-indigo-1:hover {
  background: #5200eb;
  color: #f4f4f4;
}
.ghost-btn-indigo-1:focus {
  background: #5200eb;
  color: #f4f4f4;
}

.flat-btn-indigo-2 {
  background: #5a00f1;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-indigo-2:hover {
  background: #6917f2;
  box-shadow: inset 0 0 4px 4px #5100d9;
  color: #f4f4f4;
}
.flat-btn-indigo-2:focus {
  box-shadow: 0 0 4px 5px #6917f2;
  background: #4e00d2;
  color: #f4f4f4;
}

.ghost-btn-indigo-2 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #5a00f1;
  color: #5a00f1;
}
.ghost-btn-indigo-2:hover {
  background: #5a00f1;
  color: #f4f4f4;
}
.ghost-btn-indigo-2:focus {
  background: #5a00f1;
  color: #f4f4f4;
}

.flat-btn-indigo-3 {
  background: #6301f8;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-indigo-3:hover {
  background: #7118f9;
  box-shadow: inset 0 0 4px 4px #5901df;
  color: #f4f4f4;
}
.flat-btn-indigo-3:focus {
  box-shadow: 0 0 4px 5px #7118f9;
  background: #5601d8;
  color: #f4f4f4;
}

.ghost-btn-indigo-3 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #6301f8;
  color: #6301f8;
}
.ghost-btn-indigo-3:hover {
  background: #6301f8;
  color: #f4f4f4;
}
.ghost-btn-indigo-3:focus {
  background: #6301f8;
  color: #f4f4f4;
}

.flat-btn-indigo-4 {
  background: #6b11ff;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-indigo-4:hover {
  background: #7826ff;
  box-shadow: inset 0 0 4px 4px #600fe6;
  color: #f4f4f4;
}
.flat-btn-indigo-4:focus {
  box-shadow: 0 0 4px 5px #7826ff;
  background: #5d0fde;
  color: #f4f4f4;
}

.ghost-btn-indigo-4 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #6b11ff;
  color: #6b11ff;
}
.ghost-btn-indigo-4:hover {
  background: #6b11ff;
  color: #f4f4f4;
}
.ghost-btn-indigo-4:focus {
  background: #6b11ff;
  color: #f4f4f4;
}

.flat-btn-indigo-5 {
  background: #731cff;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-indigo-5:hover {
  background: #8030ff;
  box-shadow: inset 0 0 4px 4px #6819e6;
  color: #f4f4f4;
}
.flat-btn-indigo-5:focus {
  box-shadow: 0 0 4px 5px #8030ff;
  background: #6418de;
  color: #f4f4f4;
}

.ghost-btn-indigo-5 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #731cff;
  color: #731cff;
}
.ghost-btn-indigo-5:hover {
  background: #731cff;
  color: #f4f4f4;
}
.ghost-btn-indigo-5:focus {
  background: #731cff;
  color: #f4f4f4;
}

.flat-btn-indigo-6 {
  background: #7b25ff;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-indigo-6:hover {
  background: #8739ff;
  box-shadow: inset 0 0 4px 4px #6f21e6;
  color: #f4f4f4;
}
.flat-btn-indigo-6:focus {
  box-shadow: 0 0 4px 5px #8739ff;
  background: #6b20de;
  color: #f4f4f4;
}

.ghost-btn-indigo-6 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #7b25ff;
  color: #7b25ff;
}
.ghost-btn-indigo-6:hover {
  background: #7b25ff;
  color: #f4f4f4;
}
.ghost-btn-indigo-6:focus {
  background: #7b25ff;
  color: #f4f4f4;
}

.flat-btn-indigo-7 {
  background: #822dff;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-indigo-7:hover {
  background: #8d40ff;
  box-shadow: inset 0 0 4px 4px #7529e6;
  color: #f4f4f4;
}
.flat-btn-indigo-7:focus {
  box-shadow: 0 0 4px 5px #8d40ff;
  background: #7127de;
  color: #f4f4f4;
}

.ghost-btn-indigo-7 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #822dff;
  color: #822dff;
}
.ghost-btn-indigo-7:hover {
  background: #822dff;
  color: #f4f4f4;
}
.ghost-btn-indigo-7:focus {
  background: #822dff;
  color: #f4f4f4;
}

.flat-btn-cyan-1 {
  background: #009fa7;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-cyan-1:hover {
  background: #17a8af;
  box-shadow: inset 0 0 4px 4px #008f96;
  color: #f4f4f4;
}
.flat-btn-cyan-1:focus {
  box-shadow: 0 0 4px 5px #17a8af;
  background: #008a91;
  color: #f4f4f4;
}

.ghost-btn-cyan-1 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #009fa7;
  color: #009fa7;
}
.ghost-btn-cyan-1:hover {
  background: #009fa7;
  color: #f4f4f4;
}
.ghost-btn-cyan-1:focus {
  background: #009fa7;
  color: #f4f4f4;
}

.flat-btn-cyan-2 {
  background: #00aab2;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-cyan-2:hover {
  background: #17b2b9;
  box-shadow: inset 0 0 4px 4px #0099a0;
  color: #f4f4f4;
}
.flat-btn-cyan-2:focus {
  box-shadow: 0 0 4px 5px #17b2b9;
  background: #00949b;
  color: #f4f4f4;
}

.ghost-btn-cyan-2 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #00aab2;
  color: #00aab2;
}
.ghost-btn-cyan-2:hover {
  background: #00aab2;
  color: #f4f4f4;
}
.ghost-btn-cyan-2:focus {
  background: #00aab2;
  color: #f4f4f4;
}

.flat-btn-cyan-3 {
  background: #00b5be;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-cyan-3:hover {
  background: #17bcc4;
  box-shadow: inset 0 0 4px 4px #00a3ab;
  color: #f4f4f4;
}
.flat-btn-cyan-3:focus {
  box-shadow: 0 0 4px 5px #17bcc4;
  background: #009da5;
  color: #f4f4f4;
}

.ghost-btn-cyan-3 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #00b5be;
  color: #00b5be;
}
.ghost-btn-cyan-3:hover {
  background: #00b5be;
  color: #f4f4f4;
}
.ghost-btn-cyan-3:focus {
  background: #00b5be;
  color: #f4f4f4;
}

.flat-btn-cyan-4 {
  background: #10c1c9;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-cyan-4:hover {
  background: #26c7ce;
  box-shadow: inset 0 0 4px 4px #0eaeb5;
  color: #f4f4f4;
}
.flat-btn-cyan-4:focus {
  box-shadow: 0 0 4px 5px #26c7ce;
  background: #0ea8af;
  color: #f4f4f4;
}

.ghost-btn-cyan-4 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #10c1c9;
  color: #10c1c9;
}
.ghost-btn-cyan-4:hover {
  background: #10c1c9;
  color: #f4f4f4;
}
.ghost-btn-cyan-4:focus {
  background: #10c1c9;
  color: #f4f4f4;
}

.flat-btn-cyan-5 {
  background: #2dcdd5;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-cyan-5:hover {
  background: #40d2d9;
  box-shadow: inset 0 0 4px 4px #29b9c0;
  color: #f4f4f4;
}
.flat-btn-cyan-5:focus {
  box-shadow: 0 0 4px 5px #40d2d9;
  background: #27b2b9;
  color: #f4f4f4;
}

.ghost-btn-cyan-5 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #2dcdd5;
  color: #2dcdd5;
}
.ghost-btn-cyan-5:hover {
  background: #2dcdd5;
  color: #f4f4f4;
}
.ghost-btn-cyan-5:focus {
  background: #2dcdd5;
  color: #f4f4f4;
}

.flat-btn-cyan-6 {
  background: #40d8e0;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-cyan-6:hover {
  background: #51dce3;
  box-shadow: inset 0 0 4px 4px #3ac2ca;
  color: #f4f4f4;
}
.flat-btn-cyan-6:focus {
  box-shadow: 0 0 4px 5px #51dce3;
  background: #38bcc3;
  color: #f4f4f4;
}

.ghost-btn-cyan-6 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #40d8e0;
  color: #40d8e0;
}
.ghost-btn-cyan-6:hover {
  background: #40d8e0;
  color: #f4f4f4;
}
.ghost-btn-cyan-6:focus {
  background: #40d8e0;
  color: #f4f4f4;
}

.flat-btn-cyan-7 {
  background: #51e4ec;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-cyan-7:hover {
  background: #61e6ee;
  box-shadow: inset 0 0 4px 4px #49cdd4;
  color: #f4f4f4;
}
.flat-btn-cyan-7:focus {
  box-shadow: 0 0 4px 5px #61e6ee;
  background: #46c6cd;
  color: #f4f4f4;
}

.ghost-btn-cyan-7 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #51e4ec;
  color: #51e4ec;
}
.ghost-btn-cyan-7:hover {
  background: #51e4ec;
  color: #f4f4f4;
}
.ghost-btn-cyan-7:focus {
  background: #51e4ec;
  color: #f4f4f4;
}

.flat-btn-pink-1 {
  background: #bb397f;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-pink-1:hover {
  background: #c14b8b;
  box-shadow: inset 0 0 4px 4px #a83372;
  color: #f4f4f4;
}
.flat-btn-pink-1:focus {
  box-shadow: 0 0 4px 5px #c14b8b;
  background: #a3326e;
  color: #f4f4f4;
}

.ghost-btn-pink-1 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #bb397f;
  color: #bb397f;
}
.ghost-btn-pink-1:hover {
  background: #bb397f;
  color: #f4f4f4;
}
.ghost-btn-pink-1:focus {
  background: #bb397f;
  color: #f4f4f4;
}

.flat-btn-pink-2 {
  background: #c54387;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-pink-2:hover {
  background: #ca5492;
  box-shadow: inset 0 0 4px 4px #b13c7a;
  color: #f4f4f4;
}
.flat-btn-pink-2:focus {
  box-shadow: 0 0 4px 5px #ca5492;
  background: #ab3a75;
  color: #f4f4f4;
}

.ghost-btn-pink-2 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #c54387;
  color: #c54387;
}
.ghost-btn-pink-2:hover {
  background: #c54387;
  color: #f4f4f4;
}
.ghost-btn-pink-2:focus {
  background: #c54387;
  color: #f4f4f4;
}

.flat-btn-pink-3 {
  background: #ce4c90;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-pink-3:hover {
  background: #d25c9a;
  box-shadow: inset 0 0 4px 4px #b94482;
  color: #f4f4f4;
}
.flat-btn-pink-3:focus {
  box-shadow: 0 0 4px 5px #d25c9a;
  background: #b3427d;
  color: #f4f4f4;
}

.ghost-btn-pink-3 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #ce4c90;
  color: #ce4c90;
}
.ghost-btn-pink-3:hover {
  background: #ce4c90;
  color: #f4f4f4;
}
.ghost-btn-pink-3:focus {
  background: #ce4c90;
  color: #f4f4f4;
}

.flat-btn-pink-4 {
  background: #d85598;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-pink-4:hover {
  background: #dc64a1;
  box-shadow: inset 0 0 4px 4px #c24d89;
  color: #f4f4f4;
}
.flat-btn-pink-4:focus {
  box-shadow: 0 0 4px 5px #dc64a1;
  background: #bc4a84;
  color: #f4f4f4;
}

.ghost-btn-pink-4 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #d85598;
  color: #d85598;
}
.ghost-btn-pink-4:hover {
  background: #d85598;
  color: #f4f4f4;
}
.ghost-btn-pink-4:focus {
  background: #d85598;
  color: #f4f4f4;
}

.flat-btn-pink-5 {
  background: #e25ea1;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-pink-5:hover {
  background: #e56ca9;
  box-shadow: inset 0 0 4px 4px #cb5591;
  color: #f4f4f4;
}
.flat-btn-pink-5:focus {
  box-shadow: 0 0 4px 5px #e56ca9;
  background: #c5528c;
  color: #f4f4f4;
}

.ghost-btn-pink-5 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #e25ea1;
  color: #e25ea1;
}
.ghost-btn-pink-5:hover {
  background: #e25ea1;
  color: #f4f4f4;
}
.ghost-btn-pink-5:focus {
  background: #e25ea1;
  color: #f4f4f4;
}

.flat-btn-pink-6 {
  background: #eb67a9;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-pink-6:hover {
  background: #ed75b1;
  box-shadow: inset 0 0 4px 4px #d45d98;
  color: #f4f4f4;
}
.flat-btn-pink-6:focus {
  box-shadow: 0 0 4px 5px #ed75b1;
  background: #cc5a93;
  color: #f4f4f4;
}

.ghost-btn-pink-6 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #eb67a9;
  color: #eb67a9;
}
.ghost-btn-pink-6:hover {
  background: #eb67a9;
  color: #f4f4f4;
}
.ghost-btn-pink-6:focus {
  background: #eb67a9;
  color: #f4f4f4;
}

.flat-btn-pink-7 {
  background: #f570b2;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-pink-7:hover {
  background: #f67db9;
  box-shadow: inset 0 0 4px 4px #dd65a0;
  color: #f4f4f4;
}
.flat-btn-pink-7:focus {
  box-shadow: 0 0 4px 5px #f67db9;
  background: #d5619b;
  color: #f4f4f4;
}

.ghost-btn-pink-7 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #f570b2;
  color: #f570b2;
}
.ghost-btn-pink-7:hover {
  background: #f570b2;
  color: #f4f4f4;
}
.ghost-btn-pink-7:focus {
  background: #f570b2;
  color: #f4f4f4;
}

.flat-btn-yellow-1 {
  background: #aeac2d;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-yellow-1:hover {
  background: #b5b340;
  box-shadow: inset 0 0 4px 4px #9d9b29;
  color: #f4f4f4;
}
.flat-btn-yellow-1:focus {
  box-shadow: 0 0 4px 5px #b5b340;
  background: #979627;
  color: #f4f4f4;
}

.ghost-btn-yellow-1 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #aeac2d;
  color: #aeac2d;
}
.ghost-btn-yellow-1:hover {
  background: #aeac2d;
  color: #f4f4f4;
}
.ghost-btn-yellow-1:focus {
  background: #aeac2d;
  color: #f4f4f4;
}

.flat-btn-yellow-2 {
  background: #bcb93b;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-yellow-2:hover {
  background: #c2bf4d;
  box-shadow: inset 0 0 4px 4px #a9a735;
  color: #f4f4f4;
}
.flat-btn-yellow-2:focus {
  box-shadow: 0 0 4px 5px #c2bf4d;
  background: #a4a133;
  color: #f4f4f4;
}

.ghost-btn-yellow-2 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #bcb93b;
  color: #bcb93b;
}
.ghost-btn-yellow-2:hover {
  background: #bcb93b;
  color: #f4f4f4;
}
.ghost-btn-yellow-2:focus {
  background: #bcb93b;
  color: #f4f4f4;
}

.flat-btn-yellow-3 {
  background: #cac749;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-yellow-3:hover {
  background: #cfcc59;
  box-shadow: inset 0 0 4px 4px #b6b342;
  color: #f4f4f4;
}
.flat-btn-yellow-3:focus {
  box-shadow: 0 0 4px 5px #cfcc59;
  background: #b0ad40;
  color: #f4f4f4;
}

.ghost-btn-yellow-3 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #cac749;
  color: #cac749;
}
.ghost-btn-yellow-3:hover {
  background: #cac749;
  color: #f4f4f4;
}
.ghost-btn-yellow-3:focus {
  background: #cac749;
  color: #f4f4f4;
}

.flat-btn-yellow-4 {
  background: #d8d456;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-yellow-4:hover {
  background: #dcd865;
  box-shadow: inset 0 0 4px 4px #c2bf4d;
  color: #f4f4f4;
}
.flat-btn-yellow-4:focus {
  box-shadow: 0 0 4px 5px #dcd865;
  background: #bcb84b;
  color: #f4f4f4;
}

.ghost-btn-yellow-4 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #d8d456;
  color: #d8d456;
}
.ghost-btn-yellow-4:hover {
  background: #d8d456;
  color: #f4f4f4;
}
.ghost-btn-yellow-4:focus {
  background: #d8d456;
  color: #f4f4f4;
}

.flat-btn-dark-1 {
  background: #292929;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-dark-1:hover {
  background: #3c3c3c;
  box-shadow: inset 0 0 4px 4px #252525;
  color: #f4f4f4;
}
.flat-btn-dark-1:focus {
  box-shadow: 0 0 4px 5px #3c3c3c;
  background: #242424;
  color: #f4f4f4;
}

.ghost-btn-dark-1 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #292929;
  color: #292929;
}
.ghost-btn-dark-1:hover {
  background: #292929;
  color: #f4f4f4;
}
.ghost-btn-dark-1:focus {
  background: #292929;
  color: #f4f4f4;
}

.flat-btn-dark-2 {
  background: #2c2c2c;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-dark-2:hover {
  background: #3f3f3f;
  box-shadow: inset 0 0 4px 4px #282828;
  color: #f4f4f4;
}
.flat-btn-dark-2:focus {
  box-shadow: 0 0 4px 5px #3f3f3f;
  background: #262626;
  color: #f4f4f4;
}

.ghost-btn-dark-2 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #2c2c2c;
  color: #2c2c2c;
}
.ghost-btn-dark-2:hover {
  background: #2c2c2c;
  color: #f4f4f4;
}
.ghost-btn-dark-2:focus {
  background: #2c2c2c;
  color: #f4f4f4;
}

.flat-btn-dark-3 {
  background: #2e2e2e;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-dark-3:hover {
  background: #414141;
  box-shadow: inset 0 0 4px 4px #292929;
  color: #f4f4f4;
}
.flat-btn-dark-3:focus {
  box-shadow: 0 0 4px 5px #414141;
  background: #282828;
  color: #f4f4f4;
}

.ghost-btn-dark-3 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #2e2e2e;
  color: #2e2e2e;
}
.ghost-btn-dark-3:hover {
  background: #2e2e2e;
  color: #f4f4f4;
}
.ghost-btn-dark-3:focus {
  background: #2e2e2e;
  color: #f4f4f4;
}

.flat-btn-dark-4 {
  background: #313131;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-dark-4:hover {
  background: #444444;
  box-shadow: inset 0 0 4px 4px #2c2c2c;
  color: #f4f4f4;
}
.flat-btn-dark-4:focus {
  box-shadow: 0 0 4px 5px #444444;
  background: #2b2b2b;
  color: #f4f4f4;
}

.ghost-btn-dark-4 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #313131;
  color: #313131;
}
.ghost-btn-dark-4:hover {
  background: #313131;
  color: #f4f4f4;
}
.ghost-btn-dark-4:focus {
  background: #313131;
  color: #f4f4f4;
}

.flat-btn-dark-5 {
  background: #343434;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-dark-5:hover {
  background: #464646;
  box-shadow: inset 0 0 4px 4px #2f2f2f;
  color: #f4f4f4;
}
.flat-btn-dark-5:focus {
  box-shadow: 0 0 4px 5px #464646;
  background: #2d2d2d;
  color: #f4f4f4;
}

.ghost-btn-dark-5 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #343434;
  color: #343434;
}
.ghost-btn-dark-5:hover {
  background: #343434;
  color: #f4f4f4;
}
.ghost-btn-dark-5:focus {
  background: #343434;
  color: #f4f4f4;
}

.flat-btn-dark-6 {
  background: #363636;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-dark-6:hover {
  background: #484848;
  box-shadow: inset 0 0 4px 4px #313131;
  color: #f4f4f4;
}
.flat-btn-dark-6:focus {
  box-shadow: 0 0 4px 5px #484848;
  background: #2f2f2f;
  color: #f4f4f4;
}

.ghost-btn-dark-6 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #363636;
  color: #363636;
}
.ghost-btn-dark-6:hover {
  background: #363636;
  color: #f4f4f4;
}
.ghost-btn-dark-6:focus {
  background: #363636;
  color: #f4f4f4;
}

.flat-btn-dark-7 {
  background: #393939;
  outline: none;
  transition: box-shadow 0.2s linear;
}
.flat-btn-dark-7:hover {
  background: #4b4b4b;
  box-shadow: inset 0 0 4px 4px #333333;
  color: #f4f4f4;
}
.flat-btn-dark-7:focus {
  box-shadow: 0 0 4px 5px #4b4b4b;
  background: #323232;
  color: #f4f4f4;
}

.ghost-btn-dark-7 {
  background: #f4f4f4;
  outline: none;
  transition: background-color 0.2s linear;
  border: 3px solid #393939;
  color: #393939;
}
.ghost-btn-dark-7:hover {
  background: #393939;
  color: #f4f4f4;
}
.ghost-btn-dark-7:focus {
  background: #393939;
  color: #f4f4f4;
}

@media (min-width: 46.25rem) {
  .btn,
.btn-link {
    padding: 0.75rem;
    font-size: 1rem;
  }
}
.ma-all {
  margin: 1rem;
}

.ma-l {
  margin-left: 1rem;
}

.ma-r {
  margin-right: 1rem;
}

.ma-b {
  margin-bottom: 1rem;
}

.ma-t {
  margin-top: 1rem;
}

.ma-tb {
  margin: 1rem 0;
}

.ma-lt {
  margin: 1rem 0 0 1rem;
}

.ma-lr {
  margin: 0 1rem;
}

.ma-lb {
  margin: 0 1rem 1rem 0;
}

.ma-rt {
  margin: 1rem 1rem 0 0;
}

.ma-rb {
  margin: 0 1rem 1rem 0;
}

.ma-ltb {
  margin: 1rem 0 1rem 1rem;
}

.ma-ltr {
  margin: 1rem 1rem 0 1rem;
}

.ma-lbr {
  margin: 0 1rem 1rem 1rem;
}

.pd-all {
  padding: 1rem;
}

.pd-l {
  padding-left: 1rem;
}

.pd-r {
  padding-right: 1rem;
}

.pd-t {
  padding-top: 1rem;
}

.pd-b {
  padding: 1rem;
}

.pd-lt {
  padding: 1rem 0 0 1rem;
}

.pd-lb {
  padding: 0 0 1rem 1rem;
}

.pd-lr {
  padding: 0 1rem;
}

.pd-rt {
  padding: 1rem 1rem 0 0;
}

.pd-rb {
  padding-bottom: 1rem;
}

.pd-ltb {
  padding: 1rem 0 1rem 1rem;
}

.pd-ltr {
  padding: 1rem 1rem 0 1rem;
}

.pd-lbr {
  padding: 0 1rem 1rem 1rem;
}

/*# sourceMappingURL=flexcss.css.map */
