// setup to medias query sizes

$breakpoint_xs: 0 !default; // max width 440px
$breakpoint_sm: 410px !default; // min width 440px
$breakpoint_md: 740px !default; // min width 740px
$breakpoint_lg: 980px !default; // min width 980px
$breakpoint_xl: 1200px !default; // min width 1200px; 
$breakpoint_xxl: 1400px !default; // min width 1400px; 

$container_xs_width: 390px !default; // max width 390px
$container_sm_width: 560px !default; // max width 560px
$container_md_width: 720px !default; // max width 720px
$container_lg_width: 940px !default; // max width 940px
$container_xl_width: 1120px !default; // max width 1120px
$container_xxl_width: 1220px !default; // max width 1220px

$media_breakpoints: (
  "xs": $breakpoint_xs,
  "sm": $breakpoint_sm,
  "md": $breakpoint_md,
  "lg": $breakpoint_lg,
  "xl": $breakpoint_xl,
  "xxl": $breakpoint_xxl,
);

$container_widths: (
  "xs": $container_xs_width,
  "sm": $container_sm_width,
  "md": $container_md_width,
  "lg": $container_lg_width,
  "xl": $container_xl_width,
  "xxl": $container_xxl_width,
);
