// setup to medias query sizes

$breakpoint_xs: 0; // max width 440px
$breakpoint_sm: 440px; // min width 440px
$breakpoint_md: 740px; // min width 740px
$breakpoint_lg: 980px; // min width 980px
$breakpoint_xl: 1200px; // min width 1200px; 

$container_xs_width: 390px; // max width 390px
$container_sm_width: 560px; // max width 560px
$container_md_width: 720px; // max width 720px
$container_lg_width: 940px; // max width 940px
$container_xl_width: 1120px; // max width 1120px

$media_breakpoints: (
  "xs": $breakpoint_xs,
  "sm": $breakpoint_sm,
  "md": $breakpoint_md,
  "lg": $breakpoint_lg,
  "xl": $breakpoint_xl,
);

$container_widths: (
  "xs": $container_xs_width,
  "sm": $container_sm_width,
  "md": $container_md_width,
  "lg": $container_lg_width,
  "xl": $container_xl_width,
);
