$grid_columns: 12 !default;
$grid_gutter: 20 / $rem_global * $rem !default;
$grid_rows_columns: 6 !default;

$grid_gutters: (
  "1": $grid_gutter,
  "2": 30 / $rem_global * $rem,
  "3": 40 / $rem_global * $rem,
  "4": 50 / $rem_global * $rem,
  "5": 60 / $rem_global * $rem,
  "6": 70 / $rem_global * $rem,
  "7": 80 / $rem_global * $rem,
) !default;
