// setup to medias query sizes

$media_min_sm: 27.5 * $rem; // max width 440px
$media_sm: 27.5 * $rem; // min width 440px
$media_md: 46.25 * $rem; // min width 740px
$media_lg: 61.25 * $rem; // min width 980px
$media_ex: 73.75 * $rem; // min width 1200px; 

$media_min_sm_width: 23.75 * $rem; // max width 380px
$media_sm_width: 35 * $rem; // max width 560px
$media_md_width: 45 * $rem; // max width 720px
$media_lg_width: 58.75 * $rem; // max width 940px
$media_ex_width: 70 * $rem; // max width 1120px

