$spacings_measures: (
  '10': (10 / $rem_global) * $rem,
  '15': (15 / $rem_global) * $rem,
  '20': (20 / $rem_global) * $rem,
  '25': (25 / $rem_global) * $rem,
  '30': (30 / $rem_global) * $rem,
  '35': (35 / $rem_global) * $rem,
  '40': (40 / $rem_global) * $rem,
  '45': (45 / $rem_global) * $rem,
  '50': (50 / $rem_global) * $rem,
  '55': (55 / $rem_global) * $rem,
  '60': (60 / $rem_global) * $rem,
  '65': (65 / $rem_global) * $rem,
  '70': (70 / $rem_global) * $rem,
  '75': (75 / $rem_global) * $rem,
  '80': (80 / $rem_global) * $rem,
);

$sizings: (
  25: 20%,
  30: 30%,
  35: 35%,
  40: 40%,
  45: 45%,
  50: 50%,
  55: 55%,
  60: 60%,
  65: 65%,
  70: 70%,
  75: 75%,
  80: 80%,
  85: 85%,
  90: 90%,
  95: 95%,
  100: 100%,
);

$border_radius: (
  '1': (5 / $rem_global) * $rem,
  '2': (10 / $rem_global) * $rem,
  '3': (15 / $rem_global) * $rem,
  '4': (20 / $rem_global) * $rem,
  '5': (25 / $rem_global) * $rem,
  '6': (30 / $rem_global) * $rem,
  '7': (35 / $rem_global) * $rem,
  '8': (40 / $rem_global) * $rem,
  '9': (45 / $rem_global) * $rem,
  '10': (50 / $rem_global) * $rem,
  '50': 50%,
  '100': 100%,
);

$border_styles: (
  'solid': solid,
  'dotted': dotted,
  'dashed': dashed,
  'double': double,
  'groove': groove,
  'ridge': ridge,
  'inset': inset,
  'outset': outset,
);

$border_directions: (
  'lf': border-left,
  'rt': border-right,
  'bm': border-bottom,
  'tp': border-top,
);

$border_radius_directions: (
  'tp-lf': border-top-left-radius,
  'tp-rt': border-top-right-radius,
  'bm-lf': border-top-left-radius,
  'bm-rt': border-top-right-radius,
);

$border_sizes: (
  '1': (1 / $rem_global) * $rem,
  '2': (2 / $rem_global) * $rem,
  '3': (3 / $rem_global) * $rem,
  '4': (4 / $rem_global) * $rem,
  '5': (5 / $rem_global) * $rem,
  '6': (6 / $rem_global) * $rem,
  '7': (7 / $rem_global) * $rem,
  '8': (8 / $rem_global) * $rem,
  '9': (9 / $rem_global) * $rem,
  '10': (10 / $rem_global) * $rem,
);
