$rem_global: 16;

$border_radius: (
  '1': 5 / $rem_global,
  '2': 10 / $rem_global,
  '3': 15 / $rem_global,
  '4': 20 / $rem_global,
  '5': 25 / $rem_global,
  '6': 30 / $rem_global,
  '7': 35 / $rem_global,
  '8': 40 / $rem_global,
  '9': 45 / $rem_global,
  '10': 50 / $rem_global,
  '50': 50%,
  '100': 100%,
);

$border_sizes: (
  '1': 1 / $rem_global,
  '2': 2 / $rem_global,
  '3': 3 / $rem_global,
  '4': 4 / $rem_global,
  '5': 5 / $rem_global,
  '6': 6 / $rem_global,
  '7': 7 / $rem_global,
  '8': 8 / $rem_global,
  '9': 9 / $rem_global,
  '10': 10 / $rem_global,
);
